# Rota para o FastAPI
FASTAPI_URL = "http://fastapi:8000/api"

# Chaves de API (mínimo uma)
GROQ_API_KEY="api_key"
GEMINI_API_KEY="api_key"

# Configurações da conexão com banco de dados
DATABASE_URI="sqlite:///db.sqlite"
# Configurações do Langsmith para rastreamento das LLMs

# LANGSMITH para rastreamento de execução do agente
LANGSMITH_TRACING=true
LANGSMITH_API_KEY="api_key"
LANGSMITH_PROJECT="smart_financial_solutions"
